#icon-space{
  width: 500px;
  height: 500px;
  border: 2px solid #000000;
}
#trace-image {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0; 
  z-index: 1001;
  cursor: none;
  pointer-events: none;
  transform-origin: 50% 50%; 
}
.set-image {
  position: absolute;
  z-index: 1001;
  cursor: none;
  pointer-events: none;
}
.face{
  z-index:900;
}

.right-eye,.left-eye{
  z-index:999;
}
.hair{
  z-index:1000;
}
.nose{
  z-index:999;
}
.mouth{
  z-index:999;
}
.icon-assets{
  z-index: 1;
  border: dashed 2px gray;
  padding: 10px;
  margin: 10px;
}
.assets-title{
  z-index: 2;
  transform: translate(0px, -25px);
  background: white;
  position: absolute;
}
.icon-button{
  z-index: 3;
}