.parts_image {
  position: absolute;
  z-index: 1001;
  cursor: none;
  pointer-events: none;
}
.face{
  z-index:900;
}

.right-eye,.left-eye{
  z-index:999;
}
.hair{
  z-index:1000;
}
.nose{
  z-index:999;
}
.mouth{
  z-index:999;
}
